<section
  class="hero container-fluid min-vh-100 d-flex flex-column justify-content-center"
>
  <div class="container">
    <div class="welcome mb-4">
      <h1 class="welcome-text text-uppercase">WELCOME TO Harmony</h1>
      <p class="fs-5">
        We are team of talented designers making websites with Bootstrap
      </p>
    </div>
    <div class="content row py-3 d-flex align-items-center">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div
          class="why-box d-flex flex-column gap-2 text-start p-4"
          style="border-radius: 5px"
          data-aos="fade-right"
          data-aos-delay="200"
        >
          <div class="p-2">
            <h2 class="text-white fw-bold fs-2 welcome-title">
              Why Choose Harmony?
            </h2>
            <p class="text-white mb-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
              aute irure dolor in reprehenderit Asperiores dolores sed et.
              Tenetur quis eos. Autem tempore quibusdam vel necessitatibus optio
              ad corporis.
            </p>
            <div class="text-center">
              <a
                href="#about"
                class="more-btn btn btn-outline-light px-3 py-2 rounded-pill"
              >
                <span class="me-2">Learn More</span>
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="py-4">
          <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-4">
              <div
                class="icon-box bg-white p-4 rounded shadow-sm text-center h-100"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="icon mb-3">
                  <i class="fa-solid fa-chart-line fa-2x"></i>
                </div>
                <h4 class="title fw-bold">
                  Corporis voluptates officia elusmod
                </h4>
                <p class="description text-muted">
                  Consequuntur sunt aut quasi enim aliquam quae harum pariatur
                  laboris nisi ut aliquip
                </p>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
              <div
                class="icon-box bg-white p-4 rounded shadow-sm text-center h-100"
                data-aos="zoom-in"
                data-aos-delay="200"
              >
                <div class="icon mb-3">
                  <i class="fa-solid fa-gem fa-2x"></i>
                </div>
                <h4 class="title fw-bold">Ullamco laboris ladore pan</h4>
                <p class="description text-muted">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt
                </p>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
              <div
                class="icon-box bg-white p-4 rounded shadow-sm text-center h-100"
                data-aos="zoom-in"
                data-aos-delay="300"
              >
                <div class="icon mb-3">
                  <i class="fa-solid fa-burger fa-2x"></i>
                </div>
                <h4 class="title fw-bold">Labore consequatur incidid dolore</h4>
                <p class="description text-muted">
                  Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut
                  maiores omnis facere
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
