<section class="doctors py-5" id="doctors">
  <div class="continer">
    <div class="section-title text-center mb-5">
      <h2>Doctors</h2>
      <p class="text-muted">
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm border-light rounded-3 p-3">
          <div class="row">
            <div class="col-md-4 p-4">
              <img
                src="./images/doctors-1.jpg"
                class="card-img-top rounded-circle"
                alt="Doctor 1"
              />
            </div>
            <div class="col-md-8 card-body">
              <h5 class="card-title fw-bold">Walter White</h5>
              <span>Chief Medical Officer</span>
              <p class="card-text mt-3 text-muted">
                Explicabo voluptatem mollitia et repellat qui dolorum quasi
              </p>
              <div class="social-icons d-flex gap-2">
                <a href="https://www.twitter.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-x-twitter"></i
                ></a>
                <a href="https://www.facebook.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-facebook"></i
                ></a>

                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="icon"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/" target="_blank" class="icon"
                  ><i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm border-light rounded-3 p-3">
          <div class="row">
            <div class="col-md-4 p-4">
              <img
                src="./images/doctors-2.png"
                class="card-img-top rounded-circle"
                alt="Doctor 2"
              />
            </div>
            <div class="col-md-8 card-body">
              <h5 class="card-title fw-bold">Sarah Jhonson</h5>
              <span>Anesthesiologist</span>
              <p class="card-text mt-3 text-muted">
                Explicabo voluptatem mollitia et repellat qui dolorum quasi
              </p>
              <div class="social-icons d-flex gap-2">
                <a href="https://www.twitter.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-x-twitter"></i
                ></a>
                <a href="https://www.facebook.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-facebook"></i
                ></a>

                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="icon"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/" target="_blank" class="icon"
                  ><i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm border-light rounded-3 p-3">
          <div class="row">
            <div class="col-md-4 p-4">
              <img
                src="./images/doctors-3.jpg"
                class="card-img-top rounded-circle"
                alt="Doctor 3"
              />
            </div>
            <div class="col-md-8 card-body">
              <h5 class="card-title fw-bold">William Anderson</h5>
              <span>Cardiology</span>
              <p class="card-text mt-3 text-muted">
                Explicabo voluptatem mollitia et repellat qui dolorum quasi
              </p>
              <div class="social-icons d-flex gap-2">
                <a href="https://www.twitter.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-x-twitter"></i
                ></a>
                <a href="https://www.facebook.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-facebook"></i
                ></a>

                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="icon"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/" target="_blank" class="icon"
                  ><i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm border-light rounded-3 p-3">
          <div class="row">
            <div class="col-md-4 p-4">
              <img
                src="./images/doctors-4.jpeg"
                class="card-img-top rounded-circle"
                alt="Doctor 1"
              />
            </div>
            <div class="col-md-8 card-body">
              <h5 class="card-title fw-bold">Amanda Jepson</h5>
              <span>Neurosurgeon</span>
              <p class="card-text mt-3 text-muted">
                Explicabo voluptatem mollitia et repellat qui dolorum quasi
              </p>
              <div class="social-icons d-flex gap-2">
                <a href="https://www.twitter.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-x-twitter"></i
                ></a>
                <a href="https://www.facebook.com/" target="_blank" class="icon"
                  ><i class="fa-brands fa-facebook"></i
                ></a>

                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="icon"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.linkedin.com/" target="_blank" class="icon"
                  ><i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
