.departments .nav-item {
  border: 0;
  padding: 0px 15px 12px 0;
  transition: 0.3s;
  border-right: 2px solid #e9ecef;
  font-weight: 600;
  font-size: 15px;
  position: relative;
}
.departments .nav-item .nav-link {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
  padding: 0px 0px 12px 0;
}
.departments .nav-item .nav-link:hover {
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s;
}
.departments .nav-item .active {
  color: var(--primary-color);
}
.departments .nav-item .active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 1rem;
  transform: translate(50%, -50%);
  width: 2px;
  height: 40px;
  border-right: 2px solid var(--primary-color) !important;
}

@media screen and (max-width: 768px) {
  .departments .nav-item {
    border: 0;
    padding: 0px 0px 12px 0;
    transition: 0.3s;
    border-right: none;
    font-weight: 600;
    font-size: 15px;
    position: relative;
  }
  .departments .nav-item .nav-link {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 600;
    padding: 0px 0px 12px 0;
  }
  .departments .nav-item .nav-link:hover {
    color: var(--primary-color);
    font-weight: 600;
    transition: 0.3s;
  }
  .departments .nav-item .active {
    color: var(--primary-color);
  }
}
