<section class="departments py-5" id="departments">
  <div class="continer">
    <div class="section-title text-center mb-5">
      <h2>Departments</h2>
      <p class="text-muted">
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#tab-1"
              data-bs-toggle="tab"
              >Cardiology</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-2" data-bs-toggle="tab">Neurology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-3" data-bs-toggle="tab"
              >Hepatology</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-4" data-bs-toggle="tab"
              >Pediatrics</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab-5" data-bs-toggle="tab">Eye Care</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h4>Cardiology</h4>
                <p class="text-muted fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p class="text-muted">
                  Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                  harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                  molestiae aut qui. Est repellat minima eveniet eius et quis
                  magni nihil. Consequatur dolorem quaerat quos qui similique
                  accusamus nostrum rem vero
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="./images/departments-1.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h4>Neurology</h4>
                <p class="text-muted fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p class="text-muted">
                  Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                  harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                  molestiae aut qui. Est repellat minima eveniet eius et quis
                  magni nihil. Consequatur dolorem quaerat quos qui similique
                  accusamus nostrum rem vero
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="./images/departments-2.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h4>Hepatology</h4>
                <p class="text-muted fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p class="text-muted">
                  Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                  harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                  molestiae aut qui. Est repellat minima eveniet eius et quis
                  magni nihil. Consequatur dolorem quaerat quos qui similique
                  accusamus nostrum rem vero
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="./images/departments-3.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h4>Pediatrics</h4>
                <p class="text-muted fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p class="text-muted">
                  Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                  harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                  molestiae aut qui. Est repellat minima eveniet eius et quis
                  magni nihil. Consequatur dolorem quaerat quos qui similique
                  accusamus nostrum rem vero
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="./images/departments-4.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h4>Eye Care</h4>
                <p class="text-muted fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p class="text-muted">
                  Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                  harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                  molestiae aut qui. Est repellat minima eveniet eius et quis
                  magni nihil. Consequatur dolorem quaerat quos qui similique
                  accusamus nostrum rem vero
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="./images/departments-5.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
