<section class="appointment py-5" id="appointment">
  <div class="continer">
    <div class="section-title text-center mb-5">
      <h2>Appointment</h2>
      <p class="text-muted">
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-4 form-group">
            <div class="pb-3">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
              />
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="pb-3">
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="pb-3">
              <input
                type="text"
                name="phone"
                class="form-control"
                id="phone"
                placeholder="Your Phone"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <div class="pb-3">
              <input
                type="date"
                name="date"
                class="form-control"
                id="date"
                required
              />
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="pb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Select Department</option>
                <option value="1">Department 1</option>
                <option value="2">Department 2</option>
                <option value="3">Department 3</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <div class="pb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Select Doctor</option>
                <option value="1">Doctor 1</option>
                <option value="2">Doctor 2</option>
                <option value="3">Doctor 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px; resize: none"
              ></textarea>
              <label for="floatingTextarea2">Message (Optional)</label>
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="cta-btn rounded-5">
            Make an Appointment
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
